doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title repo-lang-graph

    // Google Web Fonts
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway')

    link(rel='stylesheet', href='css/index.css')
  body
    header
      h1 repo-lang-graph
      p.description
        small
          | Render a graph about languages using a your repository

    aside.contribute
      h2
        a(href='https://github.com/MakeNowJust/repo-lang-graph') Contribute

    main
      form.graph-data#graph-data
        input#user-repo(type='text', placeholder='User/Repo')
        button(type='submit') Render
      section.graph
        canvas#graph-canvas
      section#legend.legend

    footer
      p.copyright
        small
          | &copy; 2015 
          a(href='https://github.com/MakeNowJust') TSUYUSATO Kitsune
      iframe(src='https://ghbtns.com/github-btn.html?user=MakeNowJust&repo=repo-lang-graph&type=star&count=true', frameborder=0, scrolling=0, width='100px', height='20px')

    script(src='js/index.js')
